.tabs-list {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: 'TT Prosto Sans';

  &_item {
    margin-right: 2px;

    &.is-active .tabs-list_link {
      background-color: #2E2B77;
      border-color: #2E2B77;
      color: #ffffff;
      font-weight: bold;
    }

    &:last-child { margin-right: 0; }
  }

  &_link {
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    color: #A6A19F;
    font-size: 18px;
    line-height: 18px;
    font-weight: 200;
    padding: 10px 20px 9px 20px;

    &:hover {
      color: #2E2B77;
      border-color: #2E2B77;
    }
  }
}

.switch-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  font-family: 'TT Prosto Sans';
  font-size: 22px;
  line-height: 22px;
  color: #666;

  &_item {
    margin-right: 44px;

    &:last-child {margin-right: 0; }

    &.is-active .switch-list_link {
      color: #666666;

      &:before {
        border-color: #2E2B77;
      }

      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &_link {
    color: #A6A19F;
    padding-left: 40px;
    position: relative;

    &:before {
      left: 0;
      top: 50%;
      margin-top: 1px;
      transform: translateY(-50%);
      position: absolute;
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #A6A19F;
      border-radius: 50%;
      transition: all .3s ease;
    }

    &:after {
      left: 7px;
      top: 50%;
      margin-top: 1px;
      transform: translateY(-50%);
      position: absolute;
      display: block;
      content: '';
      width: 10px;
      height: 10px;
      background: #2E2B77;
      border-radius: 50%;
      transition: all .3s ease;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      color: #666666;
    }
  }
}
