@media #{$sm} {

  .h2-dark {
    font-size: 23px;
    line-height: 28px;
  }

  .content_headline {
    min-height: auto;
    margin-bottom: 20px;
  }

  .content_headline-line {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .content_headline-line_mobile {
    display: block;
    visibility: visible;
    opacity: 1;
    margin-top: 15px;
  }

  .content,
  .specifications,
  .workshop-pro {
    display: none;
    visibility: hidden;
  }

  .header {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }

    &_info {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    .header_help_text {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  .leaders {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }
  }

  .product {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
      min-height: auto;
    }

    &_headline {
      text-align: center;
    }

    &_img {
      display: none;
      visibility: hidden;
      opacity: 0;
    }

    &_item:after {
      content: none;
    }

    &_box {
      margin-left: 0;
      max-width: initial;
    }

    &_body_info {
      flex-direction: column;

      &_box:first-child {
        margin-bottom: 20px;
      }

      .info-versimax {
        margin-left: 0;
        font-size: 11px;
        line-height: 22px;
        min-width: 84px;
        margin-right: 45px;

        &:after {
          @include size(55.56px, 23.63px);
          background-image: svg-load('arrowmob.svg');
          bottom: -17px;
          right: -43px;
        }
      }

      .qr-versimax {
        max-width: 88px;
      }
    }
  }

  .official {
    padding-top: 23px;
    padding-bottom: 20px;
    overflow: hidden;

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
    }

    &_list {
      flex-wrap: wrap;
      padding: 40px 30px 0 30px;
    }

    .content_headline-line_mobile {
      position: relative;
      left: -30px;
    }

    .h2-dark {
      padding: 0 30px;
    }

    &_content {
      font-size: 14px;
      line-height: 20px;
      padding: 0 30px;
    }

    &_item {
      padding-top: 20px;
      flex-basis: 45%;
      min-width: 45%;
      margin-right: 20px;
      font-size: 10px;
      line-height: 16px;

      &:nth-child(even) {
        margin-right: 0;
      }
    }

    &_icon {
      min-height: 130px;
      margin-bottom: 20px;

      svg {
        transform: scale(.65);
      }
    }
  }

  .discount {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      padding: 0 30px;
    }

    &_info {
      display: none;
      visibility: hidden;
    }

    &_actions {
      display: flex;
      align-items: center;
      align-content: center;
      width: 100%;
      justify-content: center;
    }
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 30px;

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
    }

    &_list {
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }

    &_item {
      max-width: 100%;
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 40px;
      text-align: center;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        display: none;
        visibility: hidden;
      }
    }

    &-mobile {
      margin-top: 30px;
      padding: 0 30px;
      display: block;
      opacity: 1;
      visibility: visible;
      font-family: 'Open Sans';
      font-size: 19px;
      line-height: 28px;
      color: #FFDD00;
      text-align: center;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .footer {

    &_wrap {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column-reverse;
      justify-content: center;
    }
  }
}
