<!-- begin .official -->
<section class="official">
  <!-- begin .official_wrap -->
  <div class="official_wrap">
    <!-- begin .content_headline official_headline -->
    <div class="content_headline official_headline">
      <h2 class="h2-dark">МАСЛО «ИЗ ПЕРВЫХ РУК»</h2>
      <!-- begin .content_headline-line -->
      <div class="content_headline-line"></div>
      <!-- end .content_headline-line -->
    </div>
    <!-- end .content_headline official_headline -->
    <!-- begin .official_content -->
    <div class="official_content">
      <p>ООО «Лет-О» является импортером и официальным представителем MORRIS LUBRICANTS на территории РФ. Покупая продукцию у нас, Вы получаете:</p>
    </div>
    <!-- end .official_content -->
    <!-- begin .official_list -->
    <div class="official_list">
      <!-- begin .official_item -->
      <div class="official_item">
        <!-- begin .official_box -->
        <div class="official_box">
          <!-- begin .official_icon -->
          <div class="official_icon"></div>
          <!-- end .official_icon -->
          <!-- begin .official_name -->
          <div class="official_name">100% гарантия оригинальности поставляемой продукции</div>
          <!-- end .official_name -->
        </div>
        <!-- end .official_box -->
      </div>
      <!-- end .official_item -->
      <div class="official_item">
        <!-- begin .official_box -->
        <div class="official_box">
          <!-- begin .official_icon -->
          <div class="official_icon"></div>
          <!-- end .official_icon -->
          <!-- begin .official_name -->
          <div class="official_name">не переплачиваете оптовикам</div>
          <!-- end .official_name -->
        </div>
        <!-- end .official_box -->
      </div>
      <!-- end .official_item -->
      <div class="official_item">
        <!-- begin .official_box -->
        <div class="official_box">
          <!-- begin .official_icon -->
          <div class="official_icon"></div>
          <!-- end .official_icon -->
          <!-- begin .official_name -->
          <div class="official_name">оперативная доставка товара в любой регион РФ</div>
          <!-- end .official_name -->
        </div>
        <!-- end .official_box -->
      </div>
      <!-- end .official_item -->
      <div class="official_item">
        <!-- begin .official_box -->
        <div class="official_box">
          <!-- begin .official_icon -->
          <div class="official_icon"></div>
          <!-- end .official_icon -->
          <!-- begin .official_name -->
          <div class="official_name">при заполнении формы – дополнительная скидка при заказе</div>
          <!-- end .official_name -->
        </div>
        <!-- end .official_box -->
      </div>
      <!-- end .official_item -->
    </div>
    <!-- end .official_list -->
  </div>
  <!-- end .official_wrap -->
</section>
<!-- end .official -->
