.official {
  padding-top: 120px;
  padding-bottom: 50px;

  &_wrap {
    max-width: 1109px;
    margin: 0 auto;
  }

  &_list {
    display: flex;
    align-items: stretch;
    align-content: stretch;
  }

  &_item {
    margin-right: 20px;
    text-align: center;
  }

  &_icon {
    min-height: 130px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 60px;
  }
}
