*::placeholder {
  color: $placeholder-color;
  opacity: 1;
}

*::placeholder-shown {
  color: $placeholder-color;
}

::selection {
  background: $selection-bg;
  color:      $selection-color;
}

input,
textarea,
button {
  outline: none;
  font-family: $font-family-base;
}

input[placeholder],
input:placeholder {
  text-overflow: ellipsis;
}

textarea {
  hyphens: auto;
}

.form-group {
  display: flex;
  margin-bottom: 25px;
  width: 100%;

  &.is-error {

    .form-control {
      border-color: #dc3545;
    }

    .form-check .form-check-control {
      color: #dc3545;

      &:before {
        border-color: #dc3545;
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(39, 52, 129, .3);
  padding: 0 6px 6px 6px;
  color: #273481;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  transition: .3s ease;

  &:hover {
    border-color: #2E2B77;
    color: #273481;
  }

  &:focus {
    border-bottom-width: 2px;
    border-color: #2E2B77;
    color: #273481;
  }
}

.form-check {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;

  label {
    min-height: 20px;
    padding-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    color: #707070;
    font-family: 'TT Prosto Sans';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  input[type=checkbox],
  input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -20px;
  }

  label {
    position: relative;
  }

  span,
  div {

    &:before, &:after {
      content: '';
      position: absolute;
      top: -2px;
      margin: auto;
    }
  }

  input {

    &[type="radio"],
    &[type="checkbox"] {
      display: none;
    }
  }

  .form-check-control {
    color: #707070;
    font-family: 'TT Prosto Sans';
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    position: relative;

    &:before {
      @include size(17px);
      background-color: rgb(255, 255, 255);
      border: 1px solid #707070;
      border-radius: 3px;
      top: 3px;
      left: -30px;
      box-sizing: border-box;
      transition: all .2s ease;
    }

    &:after {
      @include size(11.209px, 8.981px);
      background-image: svg-load('check.svg');
      background-position: 50% 50%;
      text-indent: -9999px;
      background-repeat: no-repeat;
      display: inline-block;
      overflow: hidden;
      top: -54.5px;
      left: -27px;
      color: transparent;
      opacity: 0;
      transition: all .2s ease;
    }

    &:hover {
      color: #707070;

      &:before { border-color: #707070; }
    }
  }

  input[type="checkbox"]:checked + label .form-check-control:after {
    opacity: 1;
  }

  input[type="checkbox"]:checked + label .form-check-control {
    color: #273481;

    &:before { border-color: #273481; }
  }

  input[type="checkbox"]:checked + label .form-check-control:hover:before {
    border-color: #707070;
  }

  input[type="checkbox"]:disabled {

    & + label .form-check-control {
      color: #adb1b9;
      cursor: not-allowed;

      &:before {
        border: 1px solid #d6dadd;
        background-color: #f7f7f8;
      }
    }

    &:checked {

      & + label .form-check-control:after {
        background-image: svg-load('check.svg', stroke=#adb1b9);
      }
    }
  }
}
