<!-- begin .discount -->
<section class="discount">
  <!-- begin .discount_wrap -->
  <div class="discount_wrap">
    <!-- begin .discount_content -->
    <div class="discount_content">
      <!-- begin .discount_info -->
      <div class="discount_info">
        <p>Напишите или позвоните нам, мы всегда рады предоставить консультацию и ответить на вопросы</p>
      </div>
      <!-- end .discount_info -->
      <!-- begin .discount_actions -->
      <div class="discount_actions">
        <a href="#order" class="button _modal-link">Получить скидку</a>
      </div>
      <!-- end .discount_actions -->
    </div>
    <!-- end .discount_content -->
  </div>
  <!-- end .discount_wrap -->
</section>
<!-- end .discount -->
