.contacts {
  padding-top: 40px;
  padding-bottom: 40px;

  &_wrap {
    max-width: 1109px;
    margin: 0 auto;
  }

  &_map {
    height: 389px;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 221, 0, .125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 221, 0, .125) 50%,
      rgba(255, 221, 0, .125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 35px 35px;
    animation: mapBgAnimation 1.5s linear infinite;
    margin-bottom: 40px;
  }

  &_list {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    justify-content: center;
    font-family: $font-family-open-sans;
    font-size: 20px;
    line-height: 28px;
    color: #707070;
  }

  &_item {
    max-width: 250px;
    flex-basis: 33.3333%;
    margin-right: 80px;

    &:last-child { margin-right: 0; }

    .h3 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 28px;
      color: #707070;
    }
  }

  &_options {
    margin-top: 5px;

    p {
      margin-bottom: 5px;

      &:last-child { margin-bottom: 0; }
    }

    a {
      display: block;
      color: #707070;

      &:hover { color: #FD0; }
    }
  }
}

.balloon {
  text-align: left;
  padding: 20px;

  &_body {
    font-size: 18px;
    text-align: left;
    line-height: 28px;
    margin-bottom: 5px;
  }

  &_footer {
    text-align: left;
    font-size: 14px;
    line-height: 18px;

    .map-place {
      display: block;
      margin-bottom: 5px;
    }

    .map-link {
      color: #273481;

      &:hover { color: #FD0; }
    }
  }
}
