<!-- begin .contacts -->
<section class="contacts">
  <!-- begin .contacts_wrap -->
  <div class="contacts_wrap">
    <!-- begin .contacts_map -->
    <div class="contacts_map" id="map"></div>
    <!-- end .contacts_map -->
    <!-- begin .contacts_list -->
    <div class="contacts_list">
      <!-- begin .contacts_item -->
      <div class="contacts_item">
        <!-- begin .contacts_headline -->
        <div class="contacts_headline">
          <!-- begin .h3 -->
          <h3 class="h3">Время работы:</h3>
          <!-- end .h3 -->
        </div>
        <!-- end .contacts_headline -->
        <!-- begin .contacts_options -->
        <div class="contacts_options">
          <p>понедельник–пятница, с&nbsp;10:00&nbsp;до&nbsp;18:00</p>
        </div>
        <!-- end .contacts_options -->
      </div>
      <!-- end .contacts_item -->
      <!-- begin .contacts_item -->
      <div class="contacts_item">
        <!-- begin .contacts_headline -->
        <div class="contacts_headline">
          <!-- begin .h3 -->
          <h3 class="h3">Адрес:</h3>
          <!-- end .h3 -->
        </div>
        <!-- end .contacts_headline -->
        <!-- begin .contacts_options -->
        <div class="contacts_options">
          <p>г. Москва, Спартаковский переулок, д. 2, стр. 1.</p>
          <p>Станция метро: Красносельская 500 м</p>
        </div>
        <!-- end .contacts_options -->
      </div>
      <!-- end .contacts_item -->
      <!-- begin .contacts_item -->
      <div class="contacts_item">
        <!-- begin .contacts_headline -->
        <div class="contacts_headline">
          <!-- begin .h3 -->
          <h3 class="h3">Контакты:</h3>
          <!-- end .h3 -->
        </div>
        <!-- end .contacts_headline -->
        <!-- begin .contacts_options -->
        <div class="contacts_options">
          <p>
            <a href="tel:+7 495 220 07 27">+7 495 220 07 27</a>
            <a href="mailto:info@let-o.com">info@let-o.com</a>
          </p>
        </div>
        <!-- end .contacts_options -->
      </div>
      <!-- end .contacts_item -->
    </div>
    <!-- end .contacts_list -->
  </div>
  <!-- end .contacts_wrap -->
</section>
<!-- end .contacts -->
