<!-- begin .workshop-pro -->
<section class="workshop-pro leaders">
  <!-- begin .workshop-pro_bg -->
  <div class="workshop-pro_bg" style="background-image: url('assets/images/workshop-pro.png');"></div>
  <!-- end .workshop-pro_bg -->
  <!-- begin .leaders_wrap -->
  <div class="leaders_wrap">
    <!-- begin .workshop-pro_content -->
    <div class="workshop-pro_content">
      <p><strong>Workshop Pro</strong> — это серия технических аэрозолей высшего качества, расходных материалов для мастерских и средств для ухода за руками, используемых в самых широких сферах.</p>
    </div>
    <!-- end .workshop-pro_content -->
    <div class="workshop-pro_uk">
      <img src="assets/images/uk.png" alt="Workshop Pro Made in the UK" width="254" height="160">
    </div>
    <!-- end .workshop-pro_uk -->
  </div>
  <!-- end .leaders_wrap -->
  <!-- begin .workshop-pro_uk -->
</section>
<!-- end .workshop-pro -->
