<footer class="footer">
  <!-- begin .footer_wrap -->
  <div class="footer_wrap">
    <!-- begin .footer_company -->
    <div class="footer_company">
      <!-- begin .footer_logo -->
      <div class="footer_logo logo">
        <a href="/" class="logo-link">

        </a>
      </div>
      <!-- end .footer_logo -->
      <!-- begin .footer_copyright -->
      <div class="footer_copyright copyright">
        <p>лучшие <strong>смазочные материалы</strong> для вашей техники</p>
      </div>
      <!-- end .footer_copyright -->
      .
    </div>
    <!-- end .footer_company -->
  </div>
  <!-- end .footer_wrap -->
</footer>
