.footer {
  background-color: #1D1D1D;
  padding-top: 50px;
  padding-bottom: 20px;

  &_wrap {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 30px;
  }

  &_copyright {
    max-width: 1169px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, .44);
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 24px;

    p:last-child { margin-bottom: 0; }
  }

  .footer-menu {
    margin: 20px 0 0 9px;

    .menu-link {
      color: rgba(255, 255, 255, 1);
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 24px;
    }

    .menu-item {
      margin-bottom: 0;
    }
  }

  .tel-link {
    font-size: 36px;
    height: 36px;
    font-weight: 100;
  }

  &_contact {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;

    &_tel {
      margin-bottom: 25px;
      margin-right: 70px;
    }

    &_actions {
      padding-left: 45px;
    }
  }
}
