<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">О компании</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box about-page-content text">
      <!-- begin .about-people -->
      <div class="about-people">
        <!-- begin .about-people_photo -->
        <div class="about-people_photo">
          <img src="assets/images/nikolaev-alexey.png" alt="Николаев Алексей Борисович">
        </div>
        <!-- end .about-people_photo -->
        <!-- begin .about-people_info -->
        <div class="about-people_info">
          <!-- begin .about-people_name -->
          <div class="about-people_name">Николаев Алексей Борисович</div>
          <!-- end .about-people_name -->
          <!-- begin .about-people_position -->
          <div class="about-people_position">Генеральный директор компании «Броникс-Сервис»</div>
          <!-- end .about-people_position -->
        </div>
        <!-- end .about-people_info -->
      </div>
      <!-- end .about-people -->
      <p>Мы в ответе за своих клиентов. Ведь прощание с близкими невозможно отрепетировать заранее, оно случается всего лишь раз и наша задача заключается в том, чтобы максимально деликатно и тактично помочь родственникам умершего проститься с близким им человеком.</p>
      <p>Именно тактичность и деликатность, а также знание всех тонкостей работы отличают нашу компанию от многих других. Именно эти качества сотрудников составляют основу философии нашего коллектива.</p>
      <p>Опыту нашей компании доверяют Российская Академия Наук, Благотворительный фонд «Подари жизнь», Первый канал Российского телевидения и многие другие. Представительства нашей компании есть во всех клиниках Российской Академии наук.</p>
      <p>Наша компания динамично развивается. Ведется постоянная работа по улучшению качества обслуживания. Мы проводим огромную работу по профессиональной подготовке и обучению специалистов ритуального дела, потому что именно от профессионализма наших сотрудников зависит то, с каким чувством вы проводите своих близких в последний путь.</p>
    </div>
    <!-- end .content-box -->
  </div>
  <!-- end .content_wrap -->

  <!-- begin .about-statistics -->
  <div class="about-statistics">
    <!-- begin .about-statistics_wrap -->
    <div class="about-statistics_wrap">
      <!-- begin .about-statistics-list -->
      <div class="about-statistics-list">

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">компания работает <br> на рынке с</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">1992</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">штат постоянных <br> сотрудников компании</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">127</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

        <!-- begin .about-statistics_item -->
        <div class="about-statistics_item">
          <!-- begin .about-statistics_box -->
          <div class="about-statistics_box">
            <!-- begin .about-statistics_description -->
            <div class="about-statistics_description">среднее количество <br> церемоний за год</div>
            <!-- end .about-statistics_description -->
            <!-- begin .about-statistics_value -->
            <div class="about-statistics_value">3&nbsp;288</div>
            <!-- end .about-statistics_value -->
          </div>
          <!-- end .about-statistics_box -->
        </div>
        <!-- end .about-statistics_item -->

      </div>
      <!-- end .about-statistics-list -->
    </div>
    <!-- end .about-statistics_wrap -->
  </div>
  <!-- end .about-statistics -->
  <!-- begin .about-certificates -->
  <div class="about-certificates">
    <!-- begin .content_wrap -->
    <div class="content_wrap">
      <!-- begin .content_headline -->
      <div class="content_headline">
        <h2 class="h2-light">Сертификаты и свидетельства</h1>
      </div>
      <!-- end .content_headline -->
      <!-- begin .certificates-list -->
      <div class="certificates-list">
        <!-- begin .certificates -->
        <ul class="certificates">
          <li class="certificates_item"><img src="assets/images/certificates1.png" alt="Сертификаты и свидетельства" width="181" height="257"></li>
          <li class="certificates_item"><img src="assets/images/certificates2.png" alt="Сертификаты и свидетельства" width="181" height="257"></li>
          <li class="certificates_item"><img src="assets/images/certificates3.png" alt="Сертификаты и свидетельства" width="181" height="257"></li>
          <li class="certificates_item"><img src="assets/images/certificates4.png" alt="Сертификаты и свидетельства" width="181" height="257"></li>
          <li class="certificates_item"><img src="assets/images/certificates5.png" alt="Сертификаты и свидетельства" width="181" height="257"></li>
        </ul>
        <!-- end .certificates -->
      </div>
      <!-- end .certificates-list -->
    </div>
    <!-- end .content_wrap -->
  </div>
  <!-- end .about-certificates -->
  <!-- begin .about-memory -->
  <div class="about-memory">
    <!-- begin .content_wrap -->
    <div class="content_wrap">
      <!-- begin .content_headline -->
      <div class="content_headline">
        <h2 class="h2-light">Наш мемориал</h1>
      </div>
      <!-- end .content_headline -->
      <!-- begin .memory_wrap -->
      <div class="memory_wrap">
        <!-- begin .memory_nav -->
        <div class="memory_nav memory_nav-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.808 99.885" width="24.808" height="99.885"><path data-name="Path 1573" d="M24.357 99.666L.557 50.56 24.357.213" fill="none" stroke="currentColor"/></svg></div>
        <!-- end .memory_nav -->
        <!-- begin .memory_list -->
        <div class="memory_list owl-carousel">
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Трахтенберг</span> Роман Львович </div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1968-2009</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Российский шоумен, актёр, теле и радиоведущий, режиссёр, литератор, кандидат культурологии.</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Ефремова</span> Зинаида Семеновна</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1925-2007</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Мать русского писателя Виктора Пелевина, <br />автора культовых романов «Омон Ра», «Чапаев и Пустота» и «Generation „П“».</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Косых</span> Виктор Иванович</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1950-2011</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Советский и российский актёр театра и кино,<br />«Добро пожаловать, или Посторонним вход воспрещён», «Неуловимые мстители».</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Дворжецкий</span> Евгений Вацлавович</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1960-1999</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Советский и российский актёр театра и кино, <br />Заслуженный артист РФ «Узник замка Иф», <br />«Королева Марго».</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Медведева</span> Наталия Георгиевна</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1958-2003</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Супруга русского писателя, поэта, публициста, российского политического деятеля Эдуарда Лимонова </div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->
          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Супонев</span> Сергей Евгеньевич</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1963-2001</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Советский и российский телеведущий, руководитель дирекции детских и развлекательных программ ОРТ.</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->

          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Токарев</span> Виктор Львович</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1930-2018</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Супруг Виктории Токаревой советского, российского прозаика и сценариста. Автора сценариев к фильмам "Джентльмены удачи", "Совсем пропащий", "Мимино".</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->

          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Кнорре</span> Дмитрий Георгиевич</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1926-2018</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Советский и российский учёный в области химической кинетики, молекулярной биологиии биоорганической химии, доктор химических наук, профессор, Академик АН СССР, лауреат Ленинской премии.</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->

          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Кулаков</span> Владимир Иванович</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1937-2007</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Ведущий российский специалист в области акушерства и гинекологии, доктор медицинских наук, профессор, академик РАМН</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->

          <!-- begin .memory -->
          <div class="memory">
            <!-- begin .memory_box -->
            <div class="memory_box">
              <!-- begin .memory_icon -->
              <div class="memory_icon">
                <i class="icon icon-pattern"></i>
              </div>
              <!-- end .memory_icon -->
              <!-- begin .memory_name -->
              <div class="memory_name"><span>Ратмир Шишков</span>***</div>
              <!-- end .memory_name -->
              <!-- begin .memory_years -->
              <div class="memory_years">1988-2007</div>
              <!-- end .memory_years -->
              <!-- begin .memory_info -->
              <div class="memory_info">Участник проекта «Фабрика звезд».</div>
              <!-- end .memory_info -->
            </div>
            <!-- end .memory_box -->
          </div>
          <!-- end .memory -->

        </div>
        <!-- end .memory_list -->
        <!-- begin .memory_nav -->
        <div class="memory_nav memory_nav-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24.808 99.885" width="24.808" height="99.885"><path data-name="Path 1574" d="M.452.218l23.8 49.106-23.8 50.347" fill="none" stroke="currentColor"/></svg></div>
        <!-- end .memory_nav -->
      </div>
      <!-- end .memory_wrap -->
    </div>
    <!-- end .content_wrap -->
  </div>
  <!-- end .about-memory -->
{#
  <!-- begin .about-reviews -->
  <div class="about-reviews reviews">
    <!-- begin .content_wrap -->
    <div class="content_wrap">
      <!-- begin .content_headline -->
      <div class="content_headline">
        <h2 class="h2-light">Отзывы клиентов</h1>
      </div>
      <!-- end .content_headline -->
      <!-- begin .reviews-list -->
      <div class="reviews-list">
        <!-- begin .reviews_item -->
        <div class="reviews_item">
          <!-- begin .reviews_box -->
          <div class="reviews_box">
            <!-- begin .reviews_avatar -->
            <div class="reviews_avatar">
              <!-- begin .reviews_avatar-box -->
              <div class="reviews_avatar-box"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12"><path data-name="Union 41" d="M0 12v-1.5c0-1.65 2.7-3 6-3s6 1.35 6 3V12zm3-9a3 3 0 1 1 3 3 3 3 0 0 1-3-3z" fill="#fff"/></svg></div>
              <!-- end .reviews_avatar-box -->
            </div>
            <!-- end .reviews_avatar -->
            <!-- begin .reviews_content -->
            <div class="reviews_content">
              <!-- begin .reviews_name -->
              <div class="reviews_name">Василиса И.</div>
              <!-- end .reviews_name -->
              <!-- begin .reviews_text -->
              <div class="reviews_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
              </div>
              <!-- end .reviews_text -->
            </div>
            <!-- end .reviews_content -->
          </div>
          <!-- end .reviews_box -->
        </div>
        <!-- end .reviews_item -->
        <!-- begin .reviews_item -->
        <div class="reviews_item">
          <!-- begin .reviews_box -->
          <div class="reviews_box">
            <!-- begin .reviews_avatar -->
            <div class="reviews_avatar">
              <!-- begin .reviews_avatar-box -->
              <div class="reviews_avatar-box"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12"><path data-name="Union 41" d="M0 12v-1.5c0-1.65 2.7-3 6-3s6 1.35 6 3V12zm3-9a3 3 0 1 1 3 3 3 3 0 0 1-3-3z" fill="#fff"/></svg></div>
              <!-- end .reviews_avatar-box -->
            </div>
            <!-- end .reviews_avatar -->
            <!-- begin .reviews_content -->
            <div class="reviews_content">
              <!-- begin .reviews_name -->
              <div class="reviews_name">Михаил</div>
              <!-- end .reviews_name -->
              <!-- begin .reviews_text -->
              <div class="reviews_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
              </div>
              <!-- end .reviews_text -->
            </div>
            <!-- end .reviews_content -->
          </div>
          <!-- end .reviews_box -->
        </div>
        <!-- end .reviews_item -->
        <!-- begin .reviews_item -->
        <div class="reviews_item">
          <!-- begin .reviews_box -->
          <div class="reviews_box">
            <!-- begin .reviews_avatar -->
            <div class="reviews_avatar">
              <!-- begin .reviews_avatar-box -->
              <div class="reviews_avatar-box"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12" width="12" height="12"><path data-name="Union 41" d="M0 12v-1.5c0-1.65 2.7-3 6-3s6 1.35 6 3V12zm3-9a3 3 0 1 1 3 3 3 3 0 0 1-3-3z" fill="#fff"/></svg></div>
              <!-- end .reviews_avatar-box -->
            </div>
            <!-- end .reviews_avatar -->
            <!-- begin .reviews_content -->
            <div class="reviews_content">
              <!-- begin .reviews_name -->
              <div class="reviews_name">Лариса Ивановна</div>
              <!-- end .reviews_name -->
              <!-- begin .reviews_text -->
              <div class="reviews_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis</p>
              </div>
              <!-- end .reviews_text -->
            </div>
            <!-- end .reviews_content -->
          </div>
          <!-- end .reviews_box -->
        </div>
        <!-- end .reviews_item -->
      </div>
      <!-- end .reviews-list -->
    </div>
    <!-- end .content_wrap -->
  </div>
  <!-- end .about-reviews -->
#}
  <!-- begin .about-team -->
  <div class="about-team">
    <!-- begin .content_wrap -->
    <div class="content_wrap">
      <!-- begin .content_headline -->
      <div class="content_headline">
        <h2 class="h2-light">Сотрудники компании</h1>
      </div>
      <!-- end .content_headline -->
    </div>
    <!-- end .content_wrap -->

    <!-- begin .about-team_list -->
    <div class="about-team_list">
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team2.png"
              alt="Борисов Вячеслав Михайлович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">БОРИСОВ Вячеслав Михайлович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0082</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team3.png"
              alt="ВАЛУЕВА Наталья Сергеевна"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ВАЛУЕВА Наталья Сергеевна</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0083</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team4.png"
              alt="СЕРЕБРЯННИКОВ Василий Викторович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">СЕРЕБРЯННИКОВ Василий Викторович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0092</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team6.png"
              alt="ДОЛИНА Алла Артемовна"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ДОЛИНА Алла Артемовна</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0085</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team5.png"
              alt="ГОЛЬЦОВ Денис Владимирович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ГОЛЬЦОВ Денис Владимирович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0084</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team7.png"
              alt="ДРУЖИНИН Андрей Владимирович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ДРУЖИНИН Андрей Владимирович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0086</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team8.png"
              alt="КОКЛЮШКИН Виктор Иванович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">КОКЛЮШКИН Виктор Иванович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0087</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team9.png"
              alt="НОСКОВ Никита Леонидович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">НОСКОВ Никита Леонидович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0088</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team10.png"
              alt="ПАРШИН Владислав Фатыхович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ПАРШИН Владислав Фатыхович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0089</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team11.png"
              alt="РОМАНОВСКИЙ Антон Михайлович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">РОМАНОВСКИЙ Антон Михайлович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0090</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team12.png"
              alt="РЯСКОВ Дмитрий Александрович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">РЯСКОВ Дмитрий Александрович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0091</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team14.png"
              alt="СТАРОДУБЦЕВ Григорий Петрович"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">СТАРОДУБЦЕВ Григорий Петрович</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0093</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->
      <!-- begin .team_item -->
      <div class="team_item">
        <!-- begin .team_box -->
        <div class="team_box">
          <!-- begin .team_photo -->
          <div class="team_photo">
            <img
              src="assets/images/team15.png"
              alt="Шпак Инна Костантиновна"
              width="145"
              height="145"
            >
          </div>
          <!-- end .team_photo -->
          <!-- begin .team_info -->
          <div class="team_info">
            <!-- begin .team_name -->
            <div class="team_name">ШПАК Инна Костантиновна</div>
            <!-- end .team_name -->
            <!-- begin .team_position -->
            <div class="team_position">специалист</div>
            <!-- end .team_position -->
            <!-- begin .team_token -->
            <div class="team_token">номер жетона: 11-17-0094</div>
            <!-- end .team_token -->
          </div>
          <!-- end .team_info -->
        </div>
        <!-- end .team_box -->
      </div>
      <!-- end .team_item -->

    </div>
    <!-- end .about-team_list -->

  </div>
  <!-- end .about-team -->
  <!-- begin .about-partners -->
  <div class="about-partners">
    <!-- begin .content_wrap -->
    <div class="content_wrap">
      <!-- begin .content_headline -->
      <div class="content_headline">
        <h2 class="h2-light">Партнеры компании</h1>
      </div>
      <!-- end .content_headline -->

      <!-- begin .about-partners_list -->
      <div class="about-partners_list">
        <!-- begin .partners-list -->
        <ul class="partners-list">
          <li class="partners-list_item"><img src="assets/images/partners12.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners21.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners18.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners17.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners19.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners1.png" alt="Партнеры компании" width="255" height="255"></li>
          <li class="partners-list_item"><img src="assets/images/partners16.png" alt="Партнеры компании" width="255" height="255"></li>
        </ul>
        <!-- end .partners-list -->
      </div>
      <!-- end .about-partners_list -->
    </div>
    <!-- end .content_wrap -->
  </div>
  <!-- end .about-partners -->
</div>
<!-- end .content -->
