.content {
  padding-top: 80px;
  padding-bottom: 80px;

  &_wrap {
    max-width: 1109px;
    margin: 0 auto;
  }

  &_headline {
    min-height: calc(50px + 64px + 20px);
    margin-bottom: 25px;
    max-width: 995px;

    &-line {
      position: relative;
      height: 50px;
      width: 100%;
      background-color: #FFDD00;
      box-shadow: 0 3px 6px rgba(0, 0, 0, .32);

      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: -10px;
        right: 30px;
        box-sizing: border-box;

        border: 16px solid black;
        border-color: #FFDD00 #FFDD00 transparent #fff;

        transform-origin: 0 0;
        transform: rotate(-90deg);

        box-shadow: -3px 3px 6px rgba(0, 0, 0, .32);
      }
    }
  }

  &_text {

    p {

    }
  }
}
