.content {

  &_headline {
    position: relative;

    h2 {
      padding-bottom: 20px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      background-color: #FFDD00;
      height: 50px;
    }
  }
}
