<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h2 class="h2-dark">МЫ ПОНИМАЕМ ВАШИ ПОТРЕБНОСТИ</h2>
      <!-- begin .content_headline-line -->
      <div class="content_headline-line"></div>
      <!-- end .content_headline-line -->
    </div>
    <!-- end .content_headline -->
    <!-- begin .content_text -->
    <div class="content_text">
      <p>Наш всемирно известный отдел исследований и разработок постоянно разрабатывает следующее поколение продукции мирового уровня для современных и будущих коммерческих автомобилей. Наша приверженность заботе о клиентах также проявляется и в дополнительных услугах, и в инфраструктуре, разработанных через посредство продолжения сотрудничества с производителя комплектного оборудования для коммерческих автомобилей, дилерами, операторами автопарка и независимыми мастерскими.</p>
      <p>Мы очень гордимся отношениями, сложившимися у нас с нашими клиентами, и готовы предоставить им экспертную техническую поддержку всякий раз, когда она им необходима. Команда наших экспертов обладает широкими знаниями о смазочных материалах и их применении, а это значит, что мы можем найти и рекомендовать идеальные решения в сфере смазок, отвечающие требованиям клиентов.</p>
    </div>
    <!-- end .content_text -->
    <!-- begin .content_actions -->
    <div class="content_actions">
      <a href="#order" class="button _modal-link">получить скидку</a>
    </div>
    <!-- end .content_actions -->
  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
