.content {
  padding-top: 80px;
  padding-bottom: 80px;

  &_wrap {
    max-width: 1109px;
    margin: 0 auto;
  }

  &_headline {
    min-height: calc(50px + 64px + 20px);
    margin-bottom: 25px;
    max-width: 941px;

    &-line {
      position: relative;
      height: 50px;
      width: 100%;
      margin-left: -6px;
      /* background-color: #FFDD00; */
      /* box-shadow: 0 3px 6px rgba(0, 0, 0, .32); */
    }
  }

  &_text {
    font-family: $font-family-open-sans;
    font-size: 16px;
    line-height: 32px;
    color: #333333;

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_actions {
    margin-top: 40px;
  }
}
