<!-- begin .content -->
<section class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h2 class="h2-dark">МЫ ПОНИМАЕМ ВАШИ ПОТРЕБНОСТИ</h2>
      <!-- begin .content_headline-line -->
      <div class="content_headline-line">
        <svg width="1008" height="61" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="b" d="M995.675 31.312L979.669 49.09H.003V.001h995.672z"/><filter x="-1.1%" y="-15.3%" width="102.1%" height="142.8%" filterUnits="objectBoundingBox" id="a"><feOffset dy="3" in="SourceAlpha" result="shadowOffsetOuter1"/><feGaussianBlur stdDeviation="3" in="shadowOffsetOuter1" result="shadowBlurOuter1"/><feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0" in="shadowBlurOuter1"/></filter></defs><g transform="translate(6 3)" fill="none" fill-rule="evenodd"><use fill="#000" filter="url(#a)" xlink:href="#b"/><use fill="#FD0" xlink:href="#b"/></g></svg>
      </div>
      <!-- end .content_headline-line -->
    </div>
    <!-- end .content_headline -->
    <!-- begin .content_text -->
    <div class="content_text">
      <p>Наш всемирно известный отдел исследований и разработок постоянно разрабатывает следующее поколение продукции мирового уровня для современных и будущих коммерческих автомобилей. Наша приверженность заботе о клиентах также проявляется и в дополнительных услугах, и в инфраструктуре, разработанных через посредство продолжения сотрудничества с производителя комплектного оборудования для коммерческих автомобилей, дилерами, операторами автопарка и независимыми мастерскими.</p>
      <p>Мы очень гордимся отношениями, сложившимися у нас с нашими клиентами, и готовы предоставить им экспертную техническую поддержку всякий раз, когда она им необходима. Команда наших экспертов обладает широкими знаниями о смазочных материалах и их применении, а это значит, что мы можем найти и рекомендовать идеальные решения в сфере смазок, отвечающие требованиям клиентов.</p>
    </div>
    <!-- end .content_text -->
    <!-- begin .content_actions -->
    <div class="content_actions">
      <a href="#order" class="button _modal-link">получить скидку</a>
    </div>
    <!-- end .content_actions -->
  </div>
  <!-- end .content_wrap -->
</section>
<!-- end .content -->
