<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">Вопросы и ответы</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box faq text">
      <!-- begin .faq-list -->
      <div class="faq-list">

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Какова минимальная стоимость организации похорон в Москве?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>В случае социальных похорон по гарантированному законом списку товаров и услуг на погребение возможно организовать похороны бесплатно, если умерший был например, пенсионером, безработным, инвалидом 1 и 2 групп, участником ВОВ. Также некоторым другим льготным категориям граждан гарантированы пособия, льготы и компенсации на погребение, которые, по желанию родственников, можно заменить на безвозмездные похороны. Кроме того, Федеральное законодательство устанавливает денежные компенсации на погребение для пенсионеров, безработных, участников ВОВ и тружеников тыла, инвалидов, учащихся очной формы обучения, ликвидаторов аварии на Чернобыльской АЭС, родителей в случае смерти ребенка и незаконно репрессированных граждан.</p>
            <p>В отсутствие компенсаций самая низкая стоимость похорон в пакетном предложении составляет 39 970 руб. при захоронении и 34 600 руб. при кремации.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Можно ли вызвать специалиста на дом?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Безусловно. Специалист компании «Броникс-сервис» максимально быстро приедет к вам после звонка в информационную службу <a href="tel:+74956496494">8 (495) 649-64-94</a>.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Возможно ли организовать перевозку тела умершего в другую страну?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Компания Броникс-сервис оказывает весь комплекс услуг по перевозке умершего. Сопровождающие должны иметь свидетельство о смерти с гербовой печатью, справку СЭС и справку о невложении. Для транспортировки в другую страну также необходимо получить разрешение консульства принимающей стороны (документы в данном случае составляются на русском языке и языке той страны, куда доставляется тело). Бальзамированное тело транспортируется исключительно в цинковом гробу, опаянном в присутствии распорядителя городской специализированной службы, он же предоставляет справку о невложении.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Какие услуги оказывает сотрудник компании?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Сотрудник компании оказывает следующие услуги:</p>
            <ul class="items-list">
              <li>консультирует близких (или друзей) умершего, взявших на себя обязанности по организации похорон (в т.ч. о возможности получения социального пособия на организацию похорон);</li>
              <li>получает в соответствующих инстанциях документы, необходимые для организации похорон;</li>
              <li>заказывает принадлежности для погребения и ритуальной церемонии;</li>
              <li>организует транспортное обслуживание;</li>
              <li>организует захоронение/кремацию.</li>
            </ul>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3></h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p></p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Как получить свидетельство о смерти в случае отсутствия у умершего паспорта?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Для получения свидетельства о смерти в этом случае понадобится выписка по форме А от жилищно-эксплуатационной службы по месту прописки покойного. Очень важно, чтобы все графы в этом свидетельстве были заполнены. Это необходимо чтобы избежать возможных ограничений на регистрационные процедуры, например, выписаться из квартиры, оформить наследство станет невозможным при неправильном заполнении свидетельства.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Можете ли вы организовать похороны с отданием воинских почестей при погребении?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Да. У нас обширный опыт проведения похорон военнослужащих</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Возможно ли погребение по конфессиональным обрядам?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Мы можем рассказать вам детально о различных нюансах проведения похорон, а также провести похороны в строгом соответствии с различными традициями и религиозными обрядами.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Сколько человек можно похоронить на одном участке?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>На открытых кладбищах Московского региона выделяются стандартные участки размером 2.0 x 1.8 м., рассчитаны они на 2 захоронения. По установленным санитарным нормам, через 15 лет после последнего погребения, на участке можно осуществить еще два захоронения гробом. Количество захораниваемых урн для одного участка не ограничено.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Кому разрешено копать могилу?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Зависит от региона. В Москве это разрешено только служащим кладбища.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

        <!-- begin .faq_item -->
        <div class="faq_item">
          <!-- begin .faq-q -->
          <div class="faq-q">
            <h3>Куда обращаться для покупки участка для родового семейного захоронения на закрытом кладбище?</h3>
          </div>
          <!-- end .faq-q -->
          <!-- begin .faq-a -->
          <div class="faq-a">
            <p>Разрешение на приобретение участка дает Правительство Москвы. Приобрести право на участок можно двумя способами:</p>
            <ol class="items-list">
              <li>на открытом аукционе. Этот способ подходит тогда, когда вы <strong>ЗАРАНЕЕ</strong> озаботились получением участка под будущее родовое захоронение;</li>
              <li>напрямую у правительства Москвы. Этим способом пользуются тогда, когда у родственников есть на руках свидетельство о смерти, похоронить негде и срочно нужна могила.</li>
            </ol>
            <p>Участки под семейное захоронение в Москве предлагаются исключительно на закрытых кладбищах.</p>
          </div>
          <!-- end .faq-a -->
        </div>
        <!-- end .faq_item -->

      </div>
      <!-- end .faq-list -->
    </div>
    <!-- end .content-box -->
  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
