.faq {
  font-family: 'TT Prosto Sans';
  padding-bottom: 190px;

  &-list {
    flex-direction: column;
  }

  &_item {
    margin-bottom: 50px;

    &:last-child { margin-bottom: 0; }
  }

  &-q {
    margin-bottom: 30px;
    color: #2E2B77;
    cursor: pointer;

    h3 {
      font-size: 28px;
      line-height: 42px;
      font-weight: 400;
      font-family: 'TT Prosto Sans';
    }
  }

  &-a {
    display: none;
    font-size: 22px;
    font-weight: 100;
    line-height: 32px;
    padding-left: 100px;
  }
}
