<!-- begin .content -->
<div class="content">

  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">Стоимость услуг</h1>
    </div>
    <!-- end .content_headline -->

    <!-- begin .content-box -->
    <div class="content-box prices text">
      <p>На этой странице вы сможете выбрать план похорон, представляющий оптимальную для вашего бюджета стоимость захоронения или кремации и ознакомиться с возможными дополнительными услугами, которые предоставляет наша компания.</p>

      <p>Мы гарантируем, что стоимость пакетов услуг, указанных на нашем сайте, является фиксированной и не предполагает скрытых и дополнительных платежей, чем иногда пользуются недобросовестные поставщики.</p>

      <p>Обращаем ваше внимание, что согласно закону, вы можете получить компенсацию или гарантированный перечень на безвозмездной основе, который также может предоставить вам наша компания, как городская специализированная служба по вопросам похоронного дела.</p>

      <p>С условиями предоставления компенсации и гарантированного перечня на безвозмездной основе можно ознакомиться <a href="https://www.mos.ru/otvet-socialnaya-podderjka/kak-poluchit-vyplaty-na-pogrebenie/" target="_blank">здесь</a>.</p>
    </div>
    <!-- end .content-box -->

  </div>
  <!-- end .content_wrap -->

  <!-- begin .content_wrap -->
  <div class="content_wrap">

    <!-- begin .prices-types -->
    <div id="prices-types" class="prices-types">

      <!-- begin .content_headline -->
      <div class="content_headline content_headline-sides">
        <h2 class="h2-light">Пакеты услуг</h2>
        <!-- end .headline_tabs -->
        <div class="headline_tabs">
          <ul class="switch-list">
            <li id="cremation-selector" class="switch-list_item"><a href="#cremation" class="switch-list_link">кремация</a></li>
            <li id="burial-selector" class="switch-list_item"><a href="#burial" class="switch-list_link">погребение</a></li>
          </ul>
        </div>
        <!-- end .headline_tabs -->
      </div>
      <!-- end .content_headline -->

      <!-- begin .prices-tabs_panel -->
      <div class="prices-tabs_panel panel-container">

        <!-- begin .prices-tabs_panel-item -->
        <div id="cremation">

          {% include "./prices/cremation/index.html" %}

        </div>
        <!-- end .prices-tabs_panel-item -->

        <!-- begin .prices-tabs_panel-item -->
        <div id="burial">

          {% include "./prices/burial/index.html" %}

        </div>
        <!-- end .prices-tabs_panel-item -->

      </div>
      <!-- end .prices-tabs_panel -->
    </div>
    <!-- end .prices-types -->

  </div>
  <!-- end .content_wrap -->
</div>
<!-- end .content -->
