<!-- begin .content -->
<div class="content">
  <!-- begin .content_wrap -->
  <div class="content_wrap">
    <!-- begin .content_headline -->
    <div class="content_headline">
      <h1 class="h1">справочник</h1>
    </div>
    <!-- end .content_headline -->
  </div>
  <!-- end .content_wrap -->
  <!-- begin .sprav -->
  <div class="sprav">
    <!-- begin .sprav_wrap -->
    <div class="sprav_wrap">
      <!-- begin .sprav_control -->
      <div class="sprav_control">
        <h3 class="h3 h3-light">Специализированные учреждения</h3>
        <!-- begin .sprav-types -->
        <div class="sprav-types">

          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="mfc" checked>
            <span class="radio-custom"></span>
            <span class="label">МФЦ Москвы</span>
          </label>
          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="uszn">
            <span class="radio-custom"></span>
            <span class="label">УСЗН Москвы</span>
          </label>

          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="cemetery">
            <span class="radio-custom"></span>
            <span class="label">Кладбища Москвы</span>
          </label>
          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="crematorium">
            <span class="radio-custom"></span>
            <span class="label">Крематории Москвы</span>
          </label>

          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="columbarium">
            <span class="radio-custom"></span>
            <span class="label">Колумбарии Москвы</span>
          </label>
          <label class="form-radio">
            <input class="radio" type="radio" name="sprav-type" id="morgue">
            <span class="radio-custom"></span>
            <span class="label">Морги Москвы</span>
          </label>

        </div>
        <!-- end .sprav-types -->
      </div>
      <!-- end .sprav_control -->
    </div>
    <!-- end .sprav_wrap -->
    <!-- begin .sprav_map -->
    <div class="sprav_map" id="spravmap"></div>
    <!-- end .sprav_map -->
  </div>
  <!-- end .sprav -->
</div>
<!-- end .content -->
