.sprav {

  &_wrap {
    max-width: 1169px;
    margin: 0 auto;
  }

  &_control {
    padding-bottom: 50px;
  }

  &-types {
    padding-left: 30px;
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    .form-checkbox,
    .form-radio {
      flex-basis: 50%;
      max-width: 50%;
      margin-bottom: 20px;
    }
  }

  &_map {
    height: 1065px;
    background-image: linear-gradient(
      -45deg,
      rgba(46, 43, 119, .125) 25%,
      transparent 25%,
      transparent 50%,
      rgba(46, 43, 119, .125) 50%,
      rgba(46, 43, 119, .125) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
    animation: mapBgAnimation 1.3s linear infinite;
  }
}
