<!-- begin .prices-types -->
<div id="cremation1" class="prices-types_item">
  <!-- begin .prices-tabs -->
  <div class="prices-tabs">
    <!-- begin .tabs-list -->
    <ul class="tabs-list">
      <li id="cremation_budgetary-selector" class="tabs-list_item"><a href="#cremation_budgetary" class="tabs-list_link">бюджетно</a></li>
      <li id="cremation_optimally-selector" class="tabs-list_item"><a href="#cremation_optimally" class="tabs-list_link">оптимально</a></li>
      <li id="cremation_luxuriously-selector" class="tabs-list_item"><a href="#cremation_luxuriously" class="tabs-list_link">роскошно</a></li>
    </ul>
    <!-- end .tabs-list -->
  </div>
  <!-- end .prices-tabs -->
  <!-- begin .prices-tabs_panel -->
  <div class="prices-tabs_panel panel-container">

    <!-- begin .prices-tabs_panel-item -->
    <div id="cremation_budgetary">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>кремация</li>
            <li>транспорт</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">34.600&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./budgetary.html" %}

    </div>
    <!-- end .prices-tabs_panel-item -->

    <!-- begin .prices-tabs_panel-item -->
    <div id="cremation_optimally">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>кремация</li>
            <li>транспорт</li>
            <li>документы</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">53.000&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./optimally.html" %}

    </div>
    <!-- end .prices-tabs_panel-item -->

    <!-- begin .prices-tabs_panel-item -->
    <div id="cremation_luxuriously">

      <!-- begin .prices-total -->
      <div class="prices-total">
        <!-- begin .prices-total_items -->
        <div class="prices-total_items">
          <h3 class="h2-light lighter">Что включено</h3>
          <ul class="light-list">
            <li>ритуальные принадлежности</li>
            <li>подготовка тела умершего</li>
            <li>кремация</li>
            <li>транспорт</li>
            <li>документы</li>
            <li>сервисные услуги</li>
          </ul>
        </div>
        <!-- end .prices-total_items -->
        <!-- begin .prices-total_cost -->
        <div class="prices-total_cost">94.570&thinsp;<span>₽</span></div>
        <!-- end .prices-total_cost -->
      </div>
      <!-- end .prices-total -->

      {% include "./luxuriously.html" %}

    </div>
    <!-- end .prices-tabs_panel-item -->

  </div>
  <!-- end .prices-tabs_panel -->
</div>
<!-- end .prices-types -->
