<!-- begin .specifications -->
<div class="specifications">
  <!-- begin .specifications_wrap -->
  <div class="specifications_wrap">
    <div class="specifications_headline">
      <h2 class="h2">Спецификации масел</h2>
      <a href="#personal" class="_modal-link">personal</a>
      <a href="#order" class="_modal-link">order</a>
      <a href="#order-ok" class="_modal-link">order-ok</a>
    </div>
  </div>
  <!-- end .specifications_wrap -->
  <!-- begin .specifications_badge -->
  <div class="specifications_badge"></div>
  <!-- end .specifications_badge -->
</div>
<!-- end .specifications -->
