<!-- begin .specifications -->
<section class="specifications">
  <!-- begin .specifications_wrap -->
  <div class="specifications_wrap">
  <!-- begin .specifications_headline -->
    <div class="specifications_headline">
      <h2 class="h2">Спецификации масел</h2>
    </div>
    <!-- end .specifications_headline -->

    <!-- begin .specifications_content -->
    <div class="specifications_content">

      <!-- begin .specifications_list -->
      <div id="specifications_list" class="specifications_list">

        <!-- begin .specifications_tabs -->
        <div class="specifications_tabs">
          <ul class="specifications-tabs">
            <li class="specifications-tabs_item" id="select"><a href="#motornye" class="specifications-tabs_link">моторные масла</a></li>
            <li class="specifications-tabs_item"><a href="#transmissionnye" class="specifications-tabs_link">трансмиссионные масла</a></li>
          </ul>
        </div>
        <!-- end .specifications_tabs -->

        <!-- begin panel-container -->
        <div class="specifications_tabs_panel panel-container">

          <!-- begin #motornye -->
          <div id="motornye">
            <img src="assets/images/motornye.png" alt="трансмиссионные масла">
          </div>
          <!-- end #motornye -->

          <!-- begin #transmissionnye -->
          <div id="transmissionnye">
            <img src="assets/images/transmissionnye.png" alt="трансмиссионные масла">
          </div>
          <!-- end #transmissionnye -->

        </div>
        <!-- end panel-container -->

      </div>
      <!-- end .specifications_list -->

    </div>
    <!-- end .specifications_content -->
  </div>
  <!-- end .specifications_wrap -->
  <!-- begin .specifications_badge -->
  <div class="specifications_badge">
    <img src="assets/images/specifications.png" alt="Спецификации масел">
  </div>
  <!-- end .specifications_badge -->
</section>
<!-- end .specifications -->
