<!-- begin .modal -->
<!-- mfp-hide -->
<div id="order" class="modal modal-card ">
  <!-- begin .modal_body -->
  <div class="modal_body">
    <!-- begin .modal_content -->
    <div class="modal_content">
      <!-- begin .modal_bubble -->
      <div class="modal_bubble modal_bubble-yellow">
        <!-- begin .modal_bubble_content -->
        <div class="modal_bubble_content">
          <p>для получения скидки <span>10%</span> необходимо оставить свои контактные данные</p>
        </div>
        <!-- end .modal_bubble_content -->
      </div>
      <!-- end .modal_bubble -->
      <!-- begin .modal-form -->
      <form action="forms.php" class="modal-form _order">
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Как Вас зовут?" name="order_name" required>
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Ваш номер телефона" name="order_tel" required>
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Ваш e-mail" name="order_email" required>
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <label class="form-checkbox" for="ok_personal">
            <input class="checkbox" type="checkbox" id="ok_personal">
            <span class="checkbox-custom"></span>
            <span class="label">я даю согласие на обработку моих персональных данных</span>
          </label>
          <a class="label-info modal-link" href="">подробнее о политике конфидециальности</a>
        </div>
        <!-- end .form-group -->
        <!-- begin .form-actions -->
        <div class="form-actions">
          <button type="submit" name="button" class="button _order_btn" >Получить скидку</button>
        </div>
        <!-- end .form-actions -->
      </form>
      <!-- end .modal-form -->
    </div>
    <!-- end .modal_content -->
  </div>
  <!-- end .modal_body -->
  <button title="Закрыть (Esc)" type="button" class="mfp-close _mfp-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.001 9.483" width="8.001" height="9.483"><path data-name="Union 1" d="M6.217 9.12L4 6.493 1.784 9.12a.934.934 0 0 1-1.478 0 1.408 1.408 0 0 1 0-1.752l2.216-2.627L.306 2.114a1.406 1.406 0 0 1 0-1.751.934.934 0 0 1 1.478 0L4 2.99 6.217.363a.934.934 0 0 1 1.478 0 1.406 1.406 0 0 1 0 1.751L5.478 4.741l2.217 2.627a1.408 1.408 0 0 1 0 1.752.934.934 0 0 1-1.478 0z" fill="currentColor"/></svg></button>
</div>
<!-- end .modal -->

#order-ok

#personal
