.modal {
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 100;
  text-align: left;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;

  button.mfp-close {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 1;
    right: 5px;
    top: 5px;
    opacity: 1;
    transition: all .3s ease;
    color: #273481;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    &:hover {
      color: #FFDD00;
    }
  }

  &-card {
    min-height: 450px;
    max-width: 324px;
  }

  &-personal {
    max-width: 800px;
  }

  &_bubble {
    margin: 0 auto;
    width: 254px;
    height: 254px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;

    &-yellow {
      background-color: #FD0;
    }

    &_content {
      width: 254px;
      height: 254px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-family: 'TT Prosto Sans';
      color: #273481;
      font-size: 27px;
      line-height: 33px;

      p {
        color: #273481;

        span { font-size: 34px; }

        &:last-child { margin-bottom: 0; }
      }
    }
  }

  &_content {
    height: 100%;
    padding: 34px 44px 34px 44px;
    display: flex;
    flex-direction: column;
  }

  &-form {
    font-family: $font-family-base;

    .form-group {
      margin-bottom: 40px;
    }

    .form-actions {
      display: flex;
      justify-content: center;
    }
  }

  &-actions {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &-stop {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all .2s ease-in-out;
  transform: scale(.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(.8);
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 1;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
