<!-- begin #order -->
<div id="order" class="modal modal-order mfp-hide">
  <!-- begin .modal_body -->
  <div class="modal_body">
    <!-- begin .modal_content -->
    <div class="modal_content">
      <!-- begin .modal_bubble -->
      <div class="modal_bubble modal_bubble-yellow">
        <!-- begin .modal_bubble_content -->
        <div class="modal_bubble_content">
          <p>для получения скидки <span>10%</span> необходимо оставить свои контактные данные</p>
        </div>
        <!-- end .modal_bubble_content -->
      </div>
      <!-- end .modal_bubble -->
      <!-- begin .modal-form -->
      <form action="forms.php" class="modal-form _order">
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Как Вас зовут?" name="order_name">
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Ваш номер телефона" name="order_tel" required>
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Ваш e-mail" name="order_email">
        </div>
        <!-- end .form-group -->
        <!-- begin .form-group -->
        <div class="form-group">
          <div class="form-check">
            <input type="checkbox" name="reg" id="ok_personal">
            <label for="ok_personal">
              <span class="form-check-control">
                я даю согласие на обработку моих персональных данных
                <span class="check-link"><a class="pseudolink _modal-link" href="#personal">подробнее о политике конфидециальности</a></span>
              </span>
            </label>
          </div><!-- /.form-check -->
        </div>
        <!-- end .form-group -->
        <!-- begin .form-actions -->
        <div class="form-actions">
          <button type="submit" name="button" class="button _order_btn" disabled>Получить скидку</button>
        </div>
        <!-- end .form-actions -->
      </form>
      <!-- end .modal-form -->
    </div>
    <!-- end .modal_content -->
  </div>
  <!-- end .modal_body -->
  <button title="Закрыть (Esc)" type="button" class="mfp-close _mfp-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.001 9.483" width="8.001" height="9.483"><path data-name="Union 1" d="M6.217 9.12L4 6.493 1.784 9.12a.934.934 0 0 1-1.478 0 1.408 1.408 0 0 1 0-1.752l2.216-2.627L.306 2.114a1.406 1.406 0 0 1 0-1.751.934.934 0 0 1 1.478 0L4 2.99 6.217.363a.934.934 0 0 1 1.478 0 1.406 1.406 0 0 1 0 1.751L5.478 4.741l2.217 2.627a1.408 1.408 0 0 1 0 1.752.934.934 0 0 1-1.478 0z" fill="currentColor"/></svg></button>
</div>
<!-- end #order -->

<!-- begin #order-ok -->
<div id="order-ok" class="modal modal-order modal-order-ok mfp-hide">
  <!-- begin .modal_body -->
  <div class="modal_body">
    <!-- begin .modal_content -->
    <div class="modal_content">
      <!-- begin .modal_icon -->
      <div class="modal_icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.969 95.969" width="95.969" height="95.969"><path data-name="Path 1246" d="M31.374 54.382c0 .123.123.123 0 0L37.9 57.95l3.568 6.521 16.851 30.513a1.92 1.92 0 0 0 1.6.984h.123a1.7 1.7 0 0 0 1.6-1.23l34.2-92.278a1.927 1.927 0 0 0-.365-1.968 1.877 1.877 0 0 0-1.969-.369L1.23 34.2A1.7 1.7 0 0 0 0 35.8a1.964 1.964 0 0 0 .984 1.723zm9.474 1.353A1.436 1.436 0 0 0 40.11 55l-4.183-2.34 20.424-13.165-13.165 20.547zM90.924 4.921L59.673 89.694l-14.4-25.961L64.1 34.45a1.868 1.868 0 0 0-2.584-2.584l-29.28 18.825L6.275 36.3z" fill="#273481"/></svg>
      </div>
      <!-- end .modal_icon -->
      <!-- begin .modal_info -->
      <div class="modal_info">
        <p>ваша заявка отправлена!</p>
        <p>мы свяжемся с&nbsp;вами в самое ближайшее время</p>
      </div>
      <!-- end .modal_info -->
      <!-- begin .modal_actions -->
      <div class="modal_actions">
        <button class="button" onclick="$.magnificPopup.close();">Вернуться на сайт</button>
      </div>
      <!-- end .modal_actions -->
    </div>
    <!-- end .modal_content -->
  </div>
  <!-- end .modal_body -->
  <button title="Закрыть (Esc)" type="button" class="mfp-close _mfp-close"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.001 9.483" width="8.001" height="9.483"><path data-name="Union 1" d="M6.217 9.12L4 6.493 1.784 9.12a.934.934 0 0 1-1.478 0 1.408 1.408 0 0 1 0-1.752l2.216-2.627L.306 2.114a1.406 1.406 0 0 1 0-1.751.934.934 0 0 1 1.478 0L4 2.99 6.217.363a.934.934 0 0 1 1.478 0 1.406 1.406 0 0 1 0 1.751L5.478 4.741l2.217 2.627a1.408 1.408 0 0 1 0 1.752.934.934 0 0 1-1.478 0z" fill="currentColor"/></svg></button>
</div>
<!-- end #order-ok -->

<!-- begin #personal -->
<div id="personal" class="modal modal-personal mfp-hide">
  <!-- begin .modal_body -->
  <div class="modal_body">
    <!-- begin .modal_content -->
    <div class="modal_content">
      <h3>Политика в отношении обработки персональных данных</h3>
      <ol>
        <li>
          <h4>Общие положения</h4>
          <p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных Михайлова Ивана Сергеевича (далее – Оператор).</p>
          <p>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
          <p>Настоящая политика Оператора в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта <a href="https://mysite.ru">https://mysite.ru</a>.</p>
        </li>
        <li>
          <h4>Основные понятия, используемые в Политике</h4>
          <p>Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;</p>
          <p>Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</p>
          <p>Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="https://mysite.ru">https://mysite.ru</a>;</p>
          <p>Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</p>
          <p>Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;</p>
          <p>Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</p>
          <p>Оператор – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</p>
          <p>Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта <a href="https://mysite.ru">https://mysite.ru</a>;</p>
          <p>Пользователь – любой посетитель веб-сайта <a href="https://mysite.ru">https://mysite.ru</a>;</p>
          <p>Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;</p>
          <p>Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;</p>
          <p>Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;</p>
          <p>Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.</p>
        </li>
        <li>
          <h4>Оператор может обрабатывать следующие персональные данные Пользователя</h4>
          <ul>
            <li>Фамилия, имя, отчество;</li>
            <li>Номер телефона;</li>
            <li>Адрес электронной почты;</li>
          </ul>
          <p>Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).</p>
          <p>Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</p>
        </li>
        <li>
          <h4>Цели обработки персональных данных</h4>
          <p>Цель обработки персональных данных Пользователя — заключение, исполнение и прекращение гражданско-правовых договоров; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте <a href="https://mysite.ru">https://mysite.ru</a>; уточнение деталей заказа.</p>
          <p>Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо на адрес электронной почты policy@mysite.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».</p>
          <p>Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</p>
        </li>
        <li>
          <h4>Правовые основания обработки персональных данных</h4>
          <p>Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте <a href="https://mysite.ru">https://mysite.ru</a>. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</p>
          <p>Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).</p>
        </li>
        <li>
          <h4>Порядок сбора, хранения, передачи и других видов обработки персональных данных</h4>
          <p>Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</p>
          <p>Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.</p>
          <p>Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.</p>
          <p>В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора <a href="mailto:policy@mysite.ru">policy@mysite.ru</a> с пометкой «Актуализация персональных данных».</p>
          <p>Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора policy@mysite.ru с пометкой «Отзыв согласия на обработку персональных данных».</p>
        </li>
        <li>
          <h4>Трансграничная передача персональных данных</h4>
          <p>Оператор до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.</p>
          <p>Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.</p>
        </li>
        <li>
          <h4>Заключительные положения</h4>
          <p>Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты policy@mysite.ru.</p>
          <p>В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.</p>
        </li>
      </ol>
    </div>
    <!-- end .modal_content -->
  </div>
  <!-- end .modal_body -->
</div>
<!-- end #personal -->
