.modal {
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  z-index: 100;
  text-align: left;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;

  button.mfp-close {
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    width: auto;
    height: auto;
    line-height: 1;
    right: 5px;
    top: 5px;
    opacity: 1;
    transition: all .3s ease;
    color: #273481;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    &:hover {
      color: #FFDD00;
    }
  }

  &-order {
    min-height: 450px;
    max-width: 324px;
  }

  &-personal {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;

    .modal_body {
      padding: 48px 86px;
    }
  }

  &_bubble {
    margin: 0 auto;
    width: 254px;
    height: 254px;
    border-radius: 50%;
    margin-bottom: 20px;
    text-align: center;

    &-yellow {
      background-color: #FD0;
    }

    &_content {
      width: 254px;
      height: 254px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      font-family: 'TT Prosto Sans';
      color: #273481;
      font-size: 27px;
      line-height: 33px;

      p {
        color: #273481;

        span { font-size: 34px; }

        &:last-child { margin-bottom: 0; }
      }
    }
  }

  &_icon {
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &_info {
    padding: 0 47px;
    text-align: center;
    font-family: 'TT Prosto Sans';
    color: #333333;
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 74px;

    p {
      color: #333333;
      margin-bottom: 30px;

      &:last-child { margin-bottom: 0; }
    }
  }

  &_content {
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 17px 0 21px 0;
  }

  &-form {
    padding: 0 44px;
    font-family: $font-family-base;

    .form-group {
      margin-bottom: 26px;
    }

    .form-actions {
      display: flex;
      justify-content: center;
    }
  }

  &_actions {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  &-stop {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .check-link {
    display: block;
    margin-top: 10px;
  }
}

.modal-personal .modal_content {
  font-family: $font-family-base;
  color: #707070;
  font-size: 20px;
  line-height: 38px;

  h3 {
    font-family: 'PF Agora Slab Pro';
    font-size: 40px;
    line-height: 42px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h4 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
  }

  ol, ul {
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      > ol, > ul {
        padding-left: 40px;
      }
    }
  }
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all .2s ease-in-out;
  transform: scale(.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(.8);
  opacity: 0;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity .3s ease-out;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 1;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
