.header {
  background-color: #F5CD21;
  padding: 45px 0;
  margin: 0;
  min-height: 808px;
  z-index: 0;
  position: relative;

  &_mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  &_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &_wrap {
    max-width: 1109px;
    margin: 0 auto;
  }

  &_logo {
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;
  }

  &_line {
    padding-top: 55px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 220px;

    &-string {
      padding-left: 50px;
      padding-right: 40px;
      margin-bottom: 30px;
      position: relative;
      overflow: hidden;
      height: 60px;
      width: 870px;
      /* background-color: #FFDD00; */
      /* box-shadow: 0 3px 6px rgba(0, 0, 0, .32); */

      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;

      &-bg {
        position: absolute;
        left: -140px;
        top: 0;
        z-index: -1;
      }
    }

    &_base {
      font-family: 'TT Prosto Sans';
      font-size: 10px;
      line-height: 14px;
      color: #273481;

      h3 {
        margin: 0;
        font-family: 'TT Prosto Sans';
        font-size: 10px;
        line-height: 14px;
        color: #273481;

        span {
          display: block;
          font-size: 18px;
        }
      }
    }

    &_aside {
      margin-left: 30px;
    }
  }

  &_main {
    max-width: 659px;

    h1 {
      font-weight: bold;
      position: relative;

      & > span.mrl {
        display: block;
        position: relative;
      }

      sup {
        position: absolute;
        top: 20px;
        right: 11px;
      }

      .logo_o {
        position: relative;
        text-indent: -9999px;
        z-index: 0;
        display: inline-block;
        width: 64.31px;

        &:before {
          content: '';
          top: 0;
          right: 0;
          position: absolute;
          display: block;
          z-index: 1;
          @include size(64.31px, 53.988px);
          background-image: svg-load('morris.svg');
        }
      }
    }
  }

  &_info {
    font-family: 'PF Agora Slab Pro';
    color: #FD0;
    font-size: 28px;
    line-height: 32px;
    padding-right: 180px;
    position: relative;

    p { margin: 0; }

    &-img {
      position: absolute;
      right: 50px;
      top: -10px;

      img {
        vertical-align: bottom;
        transform: rotate(-34deg);
      }
    }
  }

  &_actions {
    margin-top: 25px;
  }

  &_help {
    max-width: 1109px;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    text-align: right;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;

    &_text {
      font-family: 'Roboto Slab';
      color: #ffffff;
      font-size: 23px;
      line-height: 60px;
    }

    &_logo {
      margin-left: 20px;
    }
  }
}

.header-tel {
  font-family: 'PF Agora Slab Pro';
  border-bottom: 0;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;

  &:hover {
    color: #273481;
  }
}
