<!-- begin .nav -->
<nav class="nav">
  <!-- begin .nav_wrap -->
  <div class="nav_wrap">
    <!-- begin .tel -->
    <div class="tel">
      <a href="tel:+74956496494" class="tel-link">
        <span class="tel-link_ico">☎</span>
        <span class="tel-link_number">8 (495) 649-64-94</span>
      </a>
    </div>
    <!-- end .tel -->
    <!-- begin .menu -->
    <ul class="menu">
      <li class="menu-item"><a href="about.html" class="menu-link">О компании</a></li>
      <li class="menu-item"><a href="prices.html" class="menu-link">Цены</a></li>
      <li class="menu-item"><a href="faq.html" class="menu-link">Вопрос/ответ</a></li>
      <li class="menu-item"><a href="sprav.html" class="menu-link">Справочник</a></li>
    </ul>
    <!-- end .menu -->
  </div>
  <!-- end .nav_wrap -->
</nav>
<!-- end .menu -->
