.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  &_wrap {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
}

.menu {
  display: flex;
  align-items: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &-item {
    margin-right: 23px;

    &:last-child { margin-right: 0; }
  }

  &-link {
    display: flex;
    font-family: 'Montserrat';
    font-size: 11px;
    line-height: 13px;
    color: #F3F7F8;
    text-transform: uppercase;
    padding: 35px 0;
    font-weight: bold;

    &:hover {
      color: #8681FC;
    }
  }

  &.menu-vertical {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;

    .menu-item {
      margin-bottom: 10px;

      &:last-child { margin-bottom: 0; }
    }

    .menu-link {
      padding: 0;
    }
  }
}

.tel-link {
  font-family: 'TT Prosto Sans';
  font-size: 20px;
  line-height: 20px;
  color: #F3F7F8;

  &:hover {
    color: #8681FC;
  }
}
